@charset "utf-8";
/*common*/
body,html{height:100%;background-color:#F8F8F8;}
.tnwrap{position:relative;height:100%;}
.tntab .weui-tabbar__item{padding:5px 0;}
.tntab .weui-tabbar__label{font-size:18px;}
.tnpage-tit{position:relative;z-index:10;padding:6px 0;font-size:20px;font-weight:normal;
    text-align:center;color:#333;background:#FAFAFA;border-bottom:1px solid #E2E2E2;}
.tnpad{padding:10px 15px;}
.tndemo{display:none;}
.alink{color:#63b458;cursor:pointer;}
.alink:hover{color:#1AAD19;text-decoration:underline;}
.tncheck-box label{margin-right:10px;}
.tn-explain{margin-top:10px;padding:10px 15px;}
.tn-explain p{margin-bottom:5px;}
.tn-handle{padding-top:15px;}
.weui-label{width:auto;min-width:85px;}
.weui-vcode-btn{font-size:15px;padding:0 5px;}
.tnin-txt{height:1.41176em;line-height:1.6;}
.weui-btn.valid,.weui-btn.valid:hover{color:#999;background:#D5D5D5;cursor:default;}
.weui-input{font-family:'微软雅黑',"Microsoft YaHei";}
.fontmin{font-size:14px;}
.txtmark{color:#FF0000;}
.fontblack{color:#333;}
.weui-cell_vcode{padding-right:15px;}
.button-sp-area{margin:10px auto;padding:8px 0;width:60%;}
.page{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;padding-bottom:50px;overflow-y:auto;background:#F8F8F8;}
.page.msg{background:#FFF;}
.page__hd{padding:20px;}
.page__bd{padding-bottom:20px;}
.cthas .before, .after{display:none;}
.cthas .after, .before{display:block;}
.cthide{display:none;}
.nopadb{padding-bottom:0;}
.mpadd-lr{padding:5px 15px;}
.mtab-hd + .weui-tab__panel {padding-top:50px;}
.mtab-hd{position:absolute;z-index:500;left:0;top:0;width:100%;height:50px;padding:0 10px;line-height:48px;
    background:#FAFAFA;border-bottom:1px solid #E2E2E2;overflow: hidden;}
.mhd-back{position:absolute;padding:5px 5px 0 0;height:100%;color:#666;}
.mhd-back i{font-size:24px;}
.mtab-hd .mhd-title{margin:0 50px;font-size:20px;text-align:center;}
.mtab-ft{position:absolute;z-index:500;left:0;bottom:0;width:100%;height:50px;padding:0 10px;line-height:48px;
    background:#FAFAFA;border-top:1px solid #E2E2E2;overflow: hidden;}
.mhd-btnr{position:absolute;right:15px;margin-top:10px;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.vert-center{display:table;}
.vert-cell{display:table-cell;vertical-align:middle;}
.cthas .vert-cell.before, .vert-cell.after{display:none;}
.cthas .vert-cell.after, .vert-cell.before{display:table-cell;}
[class^="icon-"], [class*=" icon-"]{margin:0 5px;}
.text-des{font-size:14px;color:#666;}
.weui-cells:after, .weui-cells:before{height:2px;}
.weui-cell:before{height:2px;border-top-color:#DDD;}
.weui-media-box:before{height:2px;border-top-color:#DDD;}
.weui-media-box{padding:10px 15px;}
.weui-grid:before,.weui-grid:after{border:1px solid #DDD;}
.weui-btn_primary{background:#63B458;}
.weui-cells__title{font-size:16px;}
.weui-cells__title i{display:inline-block;margin:2px 5px 0 0;color:#63B458;font-size:22px;vertical-align:top;}
.ctbg{color:#FFF;background:#63B458;}
/*dropload.css*/
.dropwrap{position:relative;height:100%;overflow-y:auto;}
.dropload-up,.dropload-down{
    position: relative;  height: 0;  overflow: hidden;  font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);  transform:translateZ(0);
}
.dropload-down{  height: 50px;  }
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;  line-height: 50px;  text-align: center;
}
.dropload-load .loading{
    display: inline-block;  height: 15px;  width: 15px;  border-radius: 100%;  margin: 6px;
    border: 2px solid #666;  border-bottom-color: transparent;  vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;  animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {  -webkit-transform: rotate(0deg);  }
    50% {  -webkit-transform: rotate(180deg);  }
    100% {  -webkit-transform: rotate(360deg);  }
}
@keyframes rotate {
    0% {  transform: rotate(0deg); }
    50% {  transform: rotate(180deg); }
    100% {  transform: rotate(360deg); }
}
/*tips*/
.jq_tips_box{z-index:21176523 !important;}
.layui-layer-rim{z-index:1000!important;}
.layui-layer-shade{z-index:999!important;opacity:0.5!important;}
.layui-layer-content{max-height:560px!important;overflow-y:auto;}
.layui-layer-page .layui-layer-btn{border-top:1px solid #D2D2D2;}
/*验证码*/
.vcode-no-btn{display:inline-block;padding:0 5px;font-size:15px;line-height:44px;color:#888;border-left:1px solid #e5e5e5;}
.vcodebox .get,.vcodebox.invalid .no{display:inline-block;}
.vcodebox.invalid .get,.vcodebox .no{display:none;}
/*表格*/
.tntable{width:100%;}
.tntable td,.tntable th{padding:5px 8px;}
.tntable th{font-size:16px;color:#FFF;;background:#808080;white-space:nowrap;}
/*layer自定义*/
.layui-layer-dialog{width:260px;}
/*登录*/
.login-more{padding-top:10px;}
/*注册*/
.reg-body .tn-handle{margin-top:0;}
/*个人中心*/
.tncenter-pop .weui-actionsheet__menu .weui-actionsheet__cell{padding:0;}
.tncenter-pop .weui-actionsheet__menu .weui-actionsheet__cell a{border-radius:0;border:0 none;}
/*我的学生*/
.student-list{padding-top:20px;}
.stulist-table td{text-align:center;}
.stulist-table .sort{width:15%;}
.stulist-table .name{width:25%;}
.stulist-table .birth{width:45%;}
.stulist-table .sex{width:15%;}
.std-body .weui-label{width:125px;}
.std-body .tn-handle{padding-top:0;margin-top:5px;}
.stulist-table tbody tr:nth-child(even){background:#E5E5E5;}
/*取号*/
.campus-li{padding-top:5px;}
.campusli-tit{font-size:20px;}
.campusli-con{padding-left:1.9em;}
.campusli-time span{display:inline-block;vertical-align:middle;}
.campusli-con .campusli-go{margin-top:3px;}
.campusli-con .campusli-go a{display:inline-block;padding:5px 10px;font-size:14px;line-height:16px;}
.mytn-list .mytn-li{margin-top:10px;padding:2px 5px;border:1px solid #AAA;background:#D8D8D8;}
.mytnli-tit{font-size:20px;margin-bottom:5px;}
.mytnli-con p{margin-top:3px;}
.minbtn{display:inline-block;padding:5px 10px;font-size:14px;line-height:14px;vertical-align:middle;}
.smallbtn{display:inline-block;margin:0 3px;padding:4px 8px;font-size:14px;line-height:14px;vertical-align:middle;}
.tngo-list .tngo-li{margin-top:10px;padding-bottom:5px;border-bottom:1px dashed #999;}
/*菜单*/
.weui-mask{bottom:46px;top:-2px;}
.weui-actionsheet{bottom:42px;-webkit-transform:translateY(130%);transform:translateY(130%);}
.weui-actionsheet.weui-actionsheet_toggle{-webkit-transform:translateY(0);transform:translateY(0);}
/*magic-checkbox 美化单选复选项*/
@-webkit-keyframes hover-color {
    from { border-color: #c0c0c0; }
    to { border-color: #3e97eb; }
}
@keyframes hover-color {
    from { border-color: #c0c0c0; }
    to { border-color: #3e97eb; }
}
.magic-radio,.magic-checkbox {position: absolute;display: none; }
.magic-radio[disabled], .magic-checkbox[disabled] { cursor: not-allowed; }
.magic-radio + label,.magic-checkbox + label {
    position: relative; display: block;padding-left: 30px;cursor: pointer;vertical-align: middle; }
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
    animation-duration: 0.4s; animation-fill-mode: both;animation-name: hover-color; }
.magic-radio + label:before,
.magic-checkbox + label:before {
    position: absolute; top: 2px;left: 0;display: inline-block;width: 20px;
    height: 20px;content: '';border: 1px solid #c0c0c0; }
.magic-radio + label:after,
.magic-checkbox + label:after {position: absolute; display: none;content: ''; }
.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label { cursor: not-allowed; color: #e4e4e4; }
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {  cursor: not-allowed; }
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {  border: 1px solid #e4e4e4;  animation-name: none; }
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {  border-color: #e4e4e4; }
.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {  animation-name: none; }
.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {  display: block; }
.magic-radio + label:before {  border-radius: 50%; }
.magic-radio + label:after {  top: 8px; left: 6px;width: 8px;height: 8px;border-radius:50%;background: #3e97eb; }
.magic-radio:checked + label:before {  border: 1px solid #3e97eb; }
.magic-radio:checked[disabled] + label:before {  border: 1px solid #c9e2f9; }
.magic-radio:checked[disabled] + label:after {  background: #c9e2f9; }
.magic-checkbox + label:before {  border-radius: 3px; }
.magic-checkbox + label:after {
    top: 2px;  left: 7px;  box-sizing: border-box;  width: 6px;  height: 12px;  transform: rotate(45deg);
    border-width: 2px;  border-style: solid;  border-color: #fff;  border-top: 0;  border-left: 0; }
.magic-checkbox:checked + label:before {  border: #3e97eb;  background: #3e97eb; }
.magic-checkbox:checked[disabled] + label:before {  border: #c9e2f9;  background: #c9e2f9; }
/*self*/
.mustfill label{position:relative;}
.mustfill label:before{content:'*';position:absolute;left:-10px;color:#F00;}
.costscan-btn{margin-top:80px;}
/*home*/
.page_hd-info{padding-bottom:10px;}
.mhd-info{min-width:110px;height:110px;margin:0 auto;border-radius:50%;background:#FFF;}
.info-item{color:#63B458;font-size:16px;}
.hdface i{font-size:46px;color:#63B458;}
.home-price{margin-right:5px;font-size:16px;}
.home-price i{margin:0 0 0 3px;font-size:20px;color:#F16A13;vertical-align:middle;}
/*reg*/
.accinfo-btn .before,.accinfo-btn.ismodify .after{display:block;}
.accinfo-btn.ismodify .before,.accinfo-btn .after{display:none;}
.btn-save + .btn-cancle{margin-left:20px;margin-top:0;}
/*cost*/
.scan-box{width:242px;min-height:160px;margin:10px auto;}
.scan-bd{width:242px;margin:20px auto;border:1px solid #D2D2D2;background:#FFF;}
.scan-screen{height:322px;}
.scan-form{width:242px;margin:10px auto;}
.scaninfo .weui-cells{font-size:14px;margin-top:0;}
.scaninfo .weui-cells:before,.scaninfo .weui-cells:after{border:0 none;}
.scaninfo .weui-label{min-width:50px;}
.scan-in{display:block;width:180px;margin:10px auto;padding:5px 10px;height:40px;line-height:28px;font-size:18px;
    text-align:center;border-radius:5px;border:1px solid #63B458;background:#FFF;}
.apply-total{font-size:20px;color:#F16A13;vertical-align:top;}
/*center*/
.center-nav{margin:10px 0;background:#FFF;}
.center-nav .weui-grid__icon i{margin:0;font-size:28px;color:#63b458;}
.faceimg{width:100px;height:100px;overflow:hidden;border-radius:100%;}
.centerhd{background:#FFF;border-bottom:1px solid #DDD;}
.centerhd-info{padding:10px;color:#FFF;background:#63B458;border-radius:10px;}
.centerhd-info .mhd-info{background:transparent;}
.centerhd-info .info-item,.centerhd-info i{color:#FFF;}
.centerbd .weui-cells{margin-top:10px;}
.centerbd .weui-cell__hd i{margin-right:5px;}
.centerbd .button-sp-area{display:none;}
.cthas .centerbd .button-sp-area{display:block;}
.hdinfo-face .name{display:inline-block;max-width:120px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.text-state{font-size:14px;color:#868686;}
.flag-state{color:#63B458;}
.cthd-info{min-width:110px;background:#63B458;color:#FFF;}
.cthd-info .info-item{color:#FFF;}
.cthd-info i{font-size:36px;color:#FFF;}
.mygold-tit{line-height:1;margin-top:-5px;}
.mygold{font-size:24px;}
.cthd-info .mygold{color:#FFF;}
/*about*/
.about-con{text-indent:2em;}
