@charset "utf-8";
/*shop*/
.info-list p,.info-list .info-li{margin:10px 0;}
.info-list .tag{display:inline-block;min-width:110px;padding-right:10px;font-size:15px;font-weight:bold;text-align:right;}
/*pop*/
.pop-goldnum{font-size:20px;color:#F16A13;}
.pop-acth{min-height:150px;}
