@charset "utf-8";
/*shop*/
.info-list p,.info-list .info-li{margin:10px 0;}
.info-list .tag{display:inline-block;min-width:110px;padding-right:10px;font-size:15px;font-weight:bold;text-align:right;}
/*pop*/
.pop-goldnum{font-size:20px;color:#F16A13;}
.pop-acth{min-height:150px;}
.hidecheck input{display:none;}
.hidecheck>td.col0:before{content:"禁止删除"; color:#F00;}
.msgh{min-height:100px;}
.listbody{max-height:1000px;}
