<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.tenant.ActivityManageMapper">
	
	<select id="getActivityList" parameterType="com.bigdata.model.tenant.QueryBean" resultType="com.bigdata.model.tenant.ActivityBean">
	
		select id,
		       title,
		       count,
		       date_format(createTime, '%Y-%m-%d %T') as createTime
		  from t_activity
		 where 1 = 1
		   <if test="title != null and title != ''">
		   	and title like '%${title}%'
		   </if>
		   <if test="startTime != null and startTime != ''">
		   	<![CDATA[ and date_format(createTime, '%Y-%m-%d') >= #{startTime} ]]>
		   </if>
		   <if test="endTime != null and endTime != ''">
		   	<![CDATA[ and date_format(createTime, '%Y-%m-%d') <= #{endTime} ]]>
		   </if>
		order by createTime desc
	  
	</select>
	
	<insert id="saveActivity" parameterType="com.bigdata.model.tenant.ActivityBean">
	
		insert into t_activity(title, content, count, userId, createTime) values(#{title}, #{content}, 0, #{userId}, now())
		
	</insert>
	
	<update id="updateActivity" parameterType="com.bigdata.model.tenant.ActivityBean">
	
		update t_activity
		   set title=#{title},
			   content= #{content},
			   userId=#{userId},
			   createTime=now()
	     where id = #{id}
	     
	</update>
	
	<delete id="deleteActivity">
	
		delete from t_activity where id in (${ids})
			
	</delete>
	
</mapper>