<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.tenant.GoodsManageMapper">
	
	<select id="getGoodsList" parameterType="com.bigdata.model.tenant.QueryBean" resultType="com.bigdata.model.tenant.GoodsBean">
	
		select id,
		       name,
		       price,
		       remark,
		       date_format(createTime, '%Y-%m-%d %T') as createTime
		  from t_goods
		 where 1 = 1
		   <if test="name != null and name != ''">
		   	and name like '%${name}%'
		   </if>
		   <if test="startTime != null and startTime != ''">
		   	<![CDATA[ and date_format(createTime, '%Y-%m-%d') >= #{startTime} ]]>
		   </if>
		   <if test="endTime != null and endTime != ''">
		   	<![CDATA[ and date_format(createTime, '%Y-%m-%d') <= #{endTime} ]]>
		   </if>
		order by createTime desc
	  
	</select>
	
	<insert id="saveGoods" parameterType="com.bigdata.model.tenant.GoodsBean">
	
		insert into t_goods(name, price, remark, createTime) values(#{name}, #{price}, #{remark}, now())
		
	</insert>
	
	<update id="updateGoods" parameterType="com.bigdata.model.tenant.GoodsBean">
	
		update t_goods
		   set name=#{name},
			   price= #{price},
			   remark=#{remark},
			   createTime=now()
	     where id = #{id}
	     
	</update>
	
	<delete id="deleteGoods">
	
		delete from t_goods where id in (${ids})
			
	</delete>
	
	<select id="getGoodsInfoById" resultType="com.bigdata.model.tenant.GoodsBean">
	
		select id,
		       name,
		       price,
		       remark,
		       date_format(createTime, '%Y-%m-%d %T') as createTime
		  from t_goods
		 where id = #{id}
	  
	</select>
	
	<select id="getConfirmList" parameterType="com.bigdata.model.tenant.QueryBean" resultType="com.bigdata.model.tenant.GoldUserBean">
	
		select t1.id,
			   t3.name as goodsName,
			   t3.price,
			   date_format(t1.consumeTime, '%Y-%m-%d %T') as consumeTime,
		       t2.name,
		       t2.phone
		  from t_gold_detail t1,
		       t_wx_user t2,
		       t_goods t3
		 where t1.wxId = t2.id
		   and t1.goodsId = t3.id
		   and t1.goldType = 0
		   and t1.flag = 0
		   <if test="startTime != null and startTime != ''">
		   	<![CDATA[ and date_format(t1.consumeTime, '%Y-%m-%d') >= #{startTime} ]]>
		   </if>
		   <if test="endTime != null and endTime != ''">
		   	<![CDATA[ and date_format(t1.consumeTime, '%Y-%m-%d') <= #{endTime} ]]>
		   </if>
		order by t1.consumeTime desc
		   
	</select>
	
	<select id="updateChangeGoods">
	
		update t_gold_detail
		   set flag = '1',
		       confirmTime = now()
		 where id = #{id}
		 
	</select>
	
</mapper>