<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.system.LoginMapper">
	
	<insert id="addUserLogin" parameterType="com.bigdata.model.system.UserLogin">
		insert into t_user_login (
			id,
			userId,
			userName,
			loginTime,
			loginIp
		) values (
			#{id},
			#{userId},
			#{userName},
			#{loginTime},
			#{loginIp}
		)
	</insert>
		
</mapper>