<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.tenant.PortalAccountMapper">
	
	<select id="getMyAccountInfo" resultType="com.bigdata.model.tenant.WxUser">
	
		select name,
		       case sex when 1 then '男' else '女' end as sex,
		       age,
		       phone,
		       email,
		       wx,
		       gold
		  from t_wx_user
		  where id = #{id}
	  
	</select>
	
	<select id="getMyAccountGold" resultType="String">
	
		select gold
		  from t_wx_user
		  where id = #{id}
	  
	</select>
	
	<select id="getMyAccountGoldStream" resultType="com.bigdata.model.tenant.GoldUserBean">
	
		select t1.id,
		       t1.goldNum,
		       case t1.goldType when 1 then '消费增加' else '兑换减少' end as goldType,
			   date_format(t1.confirmTime, '%Y-%m-%d %T') as confirmTime
		  from t_gold_detail t1,
		       t_wx_user t2
		 where t1.wxId = t2.id
		   and t1.flag = 1
		   and t2.id = #{id}
	  order by t1.confirmTime desc
	  
	</select>
	
	<select id="getMyAccountConsumeStream" resultType="com.bigdata.model.tenant.GoldUserBean">
	
		select t1.id,
		       t1.consumeMoney,
		       case t1.flag when 1 then '已确认' else '未确认' end as flag,
			   date_format(t1.consumeTime, '%Y-%m-%d %T') as consumeTime,
			   t3.tenantName
		  from t_gold_detail t1,
		       t_wx_user t2,
		       t_user t3
		 where t1.wxId = t2.id
		   and t1.userId = t3.id
		   and t1.goldType = 1
		   and t2.id = #{id}
	  order by t1.consumeTime desc
	  
	</select>
	
	<select id="getMyAccountChangeStream" resultType="com.bigdata.model.tenant.GoldUserBean">
	
		select t1.id,
		       t1.goldNum,
		       case t1.flag when 1 then '已确认' else '未确认' end as flag,
			   date_format(t1.consumeTime, '%Y-%m-%d %T') as consumeTime,
			   t3.name
		  from t_gold_detail t1,
		       t_wx_user t2,
		       t_goods t3
		 where t1.wxId = t2.id
		   and t1.goodsId = t3.id
		   and t1.goldType = 0
		   and t2.id = #{id}
	  order by t1.consumeTime desc
	  
	</select>
	
	<insert id="saveGoldDetail">
	
		insert into t_gold_detail(wxId, userId, consumeMoney, goldType, flag, consumeTime)
		            values(#{id}, #{shopId}, #{consumeMoney}, '1', '0', now());
	  
	</insert>
	
	<insert id="saveUser" parameterType="com.bigdata.model.tenant.WxUser" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_user (
			userName,
			password,
			credentialsSalt,
			useFlag,
			createTime,
			updateTime
		)
		VALUES
			(
				#{userName},
				#{password},
				#{credentialsSalt},
				'1',
				NOW(),
				NOW()
			);
	</insert>
	
	<insert id="saveWxUser" parameterType="com.bigdata.model.tenant.WxUser" >
		INSERT INTO t_wx_user (
			id,
			useFlag,
			name,
			sex,
			age,
			phone,
			email,
			wx,
			gold,
			remark,
			createTime,
			updateTime
		)
		VALUES
			(
				#{id},
				'1',
				#{name},
				#{sex},
				#{age},
				#{phone},
				#{email},
				#{wx},
				0,
				#{remark},
				NOW(),
				NOW()
			);
	</insert>
	
	<update id="updateUser" parameterType="com.bigdata.model.tenant.WxUser" >
	
		update t_wx_user
		   set name = #{name},
			   age = #{age},
			   sex = #{sex},
			   phone = #{phone},
			   email = #{email},
			   wx = #{wx},
			   remark = #{remark},
			   updateTime = NOW()
		where id = #{id}
			
	</update>
	
</mapper>