<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.tenant.TenantManageMapper">

	<resultMap type="com.bigdata.model.system.User" id="userMap">
		<id column="id" property="id"/>
		<result column="consumeMoney" property="consumeMoney"/>
		<result column="name" property="name"/>
		<result column="tenantName" property="tenantName"/>
		<result column="trade" property="trade"/>
		<result column="address" property="address"/>
		<result column="linkName" property="linkName"/>
		<result column="linkPhone" property="linkPhone"/>
	</resultMap>
	
	<resultMap type="com.bigdata.model.tenant.GoldUserBean" id="goldMap">
		<id column="id" property="id"/>
		<result column="tenantName" property="tenantName"/>
		<result column="trade" property="trade"/>
		<result column="address" property="address"/>
		<result column="consumeTime" property="consumeTime"/>
		<result column="confirmTime" property="confirmTime"/>
	</resultMap>
	
	<resultMap type="com.bigdata.model.tenant.GoldDetail" id="goldDetailMap">
		<id column="id" property="id"/>
		<result column="tenantName" property="tenantName"/>
		<result column="trade" property="trade"/>
		<result column="address" property="address"/>
		<result column="confirmTime" property="confirmTime"/>
		<result column="rate" property="rate"/>
		<result column="rule" property="rule"/>
		<result column="consumeMoney" property="consumeMoney"/>
	</resultMap>
	
	<select id="getTenantInfo" parameterType="Integer" resultMap="userMap">
	
		select t1.tenantName,
		       t2.name as trade,
		       t1.address,
		       t1.telephone,
		       t1.linkName,
		       t1.linkPhone
		  from t_user t1,
		       t_trade t2
		 where t1.id = #{id}
		   and t1.trade = t2.id
	</select>
	
	<select id="getTenantRule" parameterType="Integer" resultType="String">
	
		select t2.rate
		  from t_user t1,
		       t_rule t2
		 where t1.id = #{id}
		   and t1.rule = t2.id
	</select>
	
	<select id="getConfirmList" parameterType="com.bigdata.model.tenant.QueryBean" resultMap="goldMap">
	
		select t1.id,
			   t1.consumeMoney,
			   date_format(t1.consumeTime, '%Y-%m-%d %T') as consumeTime,
		       t2.name,
		       t2.phone
		  from t_gold_detail t1,
		       t_wx_user t2
		 where t1.userId = #{id}
		   and t1.wxId = t2.id
		   and t1.flag = 0
		   <if test="startTime != null and startTime != ''">
		   	<![CDATA[ and date_format(t1.consumeTime, '%Y-%m-%d') >= #{startTime} ]]>
		   </if>
		   <if test="endTime != null and endTime != ''">
		   	<![CDATA[ and date_format(t1.consumeTime, '%Y-%m-%d') <= #{endTime} ]]>
		   </if>
		order by t1.consumeTime desc
		   
	</select>
	
	<select id="getConsumerList" parameterType="com.bigdata.model.tenant.QueryBean" resultMap="goldMap">
	
		select t1.id,
		       t1.consumeMoney,
			   date_format(t1.confirmTime, '%Y-%m-%d %T') as confirmTime,
		       t2.name,
		       t2.phone
		  from t_gold_detail t1,
		       t_wx_user t2
		 where t1.userId = #{id}
		   and t1.wxId = t2.id
		   and t1.flag = 1
		   <if test="startTime != null and startTime != ''">
		   	<![CDATA[ and date_format(t1.confirmTime, '%Y-%m-%d') >= #{startTime} ]]>
		   </if>
		   <if test="endTime != null and endTime != ''">
		   	<![CDATA[ and date_format(t1.confirmTime, '%Y-%m-%d') <= #{endTime} ]]>
		   </if>
	  order by t1.confirmTime desc
	  
	</select>
	
	<select id="getGoldDetailInfo" parameterType="String" resultMap="goldDetailMap">
	
		select t1.id,
		       t1.consumeMoney,
		       t2.rate,
		       t3.rule
		  from t_gold_detail t1,
		       t_rule t2,
		       t_user t3
		 where t1.id = #{id}
		   and t3.id = t1.userId
		   and t3.rule = t2.id
	  
	</select>
	
	<select id="updateConsumer" parameterType="com.bigdata.model.tenant.GoldDetail">
	
		update t_gold_detail
		   set flag = '1',
		   	   goldType = '1',
		       goldNum = #{goldNum},
		       rule = #{rule},
		       confirmTime = now()
		 where id = #{id}
		 
	</select>
	
	<select id="updateWxUserGold" parameterType="String">
	
		update t_wx_user
		   set gold = gold + #{goldNum}
		 where id = #{wxUserId}
		 
	</select>
	
	<select id="getWxUserId" parameterType="String" resultType="String">
	
		select wxId
		  from t_gold_detail
		 where id = #{id}
		 
	</select>

</mapper>